body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 16px;
}

#mobile-menu {
  display: none;
}

@-webkit-keyframes moveAnimation {
  from {
    transform: translateY(60%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveAnimation {
  from {
    transform: translateY(60%);
  }
  to {
    transform: translateY(0);
  }
}
.header {
  display: flex;
  background-color: #fef7f6;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 300;
  padding: 0.6rem 0;
  width: 100%;
  height: 2rem;
}
.header__top-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 19rem;
  width: 100%;
}
.header__top-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 19rem;
  width: 100%;
}
.header p {
  padding: 0.6rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
  height: 6rem;
}
.navbar__logo {
  display: flex;
  align-items: center;
  margin-left: 19.5rem;
}
.navbar__menu {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar__menu li {
  position: relative;
}
.navbar__menu li .submenu {
  background-color: #fff;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  left: 0;
  width: 14rem;
  height: auto;
  padding: 0;
  transition: all 300ms ease-in-out;
}
.navbar__menu li .submenu .submenu-li {
  padding: 0;
  margin: 0;
}
.navbar__menu li .submenu .submenu-li a {
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.navbar__menu li .submenu .submenu-li a:hover {
  background-color: #f5f5f5;
}
.navbar__menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.navbar__menu .ti-angle-down {
  width: 0.7rem;
  padding: 0.3rem;
}
.navbar__menu li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0.7rem;
}
.navbar__menu li a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
.navbar__menu a:hover {
  color: #ff5353;
  transition: all 300ms ease-in-out;
}
.navbar__icons {
  display: flex;
  align-items: center;
  margin-right: 19.5rem;
}
.navbar__icons a {
  position: relative;
  color: #000;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.7rem;
}
.navbar__icons a .counter {
  position: absolute;
  border-style: solid;
  border-color: #ff5353;
  color: #fff;
  background-color: #ff5353;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  font-size: 0.5rem;
  line-height: 0.6rem;
  text-align: center;
  top: 0;
  right: 0;
}
.navbar__icons a:hover {
  color: #ff5353;
  transition: all 300ms ease-in-out;
}

.banner {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
  background-size: cover;
}
.banner__text {
  text-align: center;
  max-width: 29rem;
  height: auto;
}
.banner__text span {
  color: #565656;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.banner__text h1 {
  font-size: 3.6rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 3.5rem;
}
.banner__text a {
  background-color: #ff5353;
  border-radius: 0.2rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 0.8;
  padding: 1.1rem 3rem 1.1rem 3rem;
}
.banner__text a:hover {
  background-color: #fff;
  color: #0056b3;
  transition: all 300ms ease-in-out;
}
.banner__image {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: auto;
}
.banner__image img {
  width: 100%;
  height: auto;
}

.banner2 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  background-color: #eae2d8;
  width: 100%;
  height: auto;
}
.banner2__text {
  text-align: center;
  text-transform: uppercase;
  max-width: 29rem;
  margin-right: 5rem;
}
.banner2__text span {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 4.5rem;
}
.banner2__text h1 {
  font-weight: 300;
  margin-bottom: 4rem;
}
.banner2__text a {
  background-color: #ff5353;
  border-radius: 0.2rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 0.8;
  padding: 1.1rem 3rem 1.1rem 3rem;
}
.banner2__text a:hover {
  background-color: #fff;
  color: #0056b3;
  transition: all 300ms ease-in-out;
}
.banner2__image {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: auto;
}
.banner2__image img {
  width: 100%;
  height: auto;
}

.products {
  background-color: #fff;
}
.products h1 {
  font-size: 2.3rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 5.5rem;
}
.products__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.products__items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
}
.products__items .item .action-links {
  text-align: center;
  position: absolute;
  visibility: hidden;
  width: 100%;
  top: 60%;
  opacity: 0;
  transition: all 300ms ease;
}
.products__items .item .action-links a {
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 300ms ease;
}
.products__items .item .action-links a .ti-eye,
.products__items .item .action-links a .ti-heart,
.products__items .item .action-links a .ti-shopping-cart {
  display: inline-block;
  background-color: #fff;
  border: #fff solid;
  border-radius: 50%;
  color: #000;
  line-height: 2.8rem;
  height: 2.8rem;
  width: 2.8rem;
}
.products__items .item p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 1.5rem;
}
.products__items .item p a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #888;
  text-decoration: none;
  margin-bottom: 0;
}
.products__items .item p a:hover {
  color: #ff5353;
  transition: all 300ms ease-in-out;
}
.products__items .item .stars {
  text-align: center;
}
.products__items .item .stars a {
  text-decoration: none;
}
.products__items .item .stars a .ti-star {
  font-size: 0.8rem;
  color: #ff5353;
}
.products__items .item .price {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.products__items .item:hover .action-links {
  opacity: 1;
}
.products__items .item:hover .action-links .ti-eye {
  -webkit-animation: moveAnimation 200ms;
          animation: moveAnimation 200ms;
}
.products__items .item:hover .action-links .ti-heart {
  -webkit-animation: moveAnimation 400ms;
          animation: moveAnimation 400ms;
}
.products__items .item:hover .action-links .ti-shopping-cart {
  -webkit-animation: moveAnimation 600ms;
          animation: moveAnimation 600ms;
}
.products__items .item:hover .action-links a {
  visibility: visible;
}
.products__items .item:hover .action-links a:hover .ti-eye,
.products__items .item:hover .action-links a:hover .ti-heart,
.products__items .item:hover .action-links a:hover .ti-shopping-cart {
  background-color: #ff5353;
  border: #ff5353 solid;
  color: #fff;
  transition: all 300ms ease;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e9e2d8;
  height: auto;
  margin-top: 3rem;
}
.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  border-bottom: 0.1rem solid #d6d8d9;
  padding-bottom: 5rem;
  padding-top: 3rem;
}
.footer__top p {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.footer__top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__top ul a {
  font-size: 0.9rem;
  color: #888;
  text-decoration: none;
  line-height: 1.9rem;
  text-align: left;
}
.footer__top .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__top .footer-right-buttons {
  display: flex;
  flex-direction: column;
}
.footer__top .footer-right-buttons .buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 0.1rem solid #d6d8d9;
  padding-bottom: 2rem;
}
.footer__top .footer-right-buttons .buttons .android,
.footer__top .footer-right-buttons .buttons .apple {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  border-radius: 0.3rem;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  height: 2.5rem;
  width: 7.5rem;
}
.footer__top .footer-right-buttons .buttons .android .ti-android,
.footer__top .footer-right-buttons .buttons .apple .ti-android {
  color: #ff5353;
  font-size: 1.3rem;
  margin-right: 0.3rem;
  left: 0.3px;
  top: 50%;
}
.footer__top .footer-right-buttons .buttons .android .ti-apple,
.footer__top .footer-right-buttons .buttons .apple .ti-apple {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 0.3rem;
  left: 0.3rem;
  top: 50%;
}
.footer__top .footer-right-buttons .buttons .android p,
.footer__top .footer-right-buttons .buttons .apple p {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  padding-top: 1.3rem;
}
.footer__top .footer-right-buttons .buttons .android p span,
.footer__top .footer-right-buttons .buttons .apple p span {
  font-size: 0.6rem;
  font-weight: 400;
}
.footer__top .footer-right-buttons .buttons .apple {
  background-color: #ff5353;
  color: #fff;
}
.footer__top .footer-right-buttons .buttons .android:hover {
  background-color: #ff5353;
  transition: all 300ms ease-in-out;
}
.footer__top .footer-right-buttons .buttons .android:hover p,
.footer__top .footer-right-buttons .buttons .android:hover .ti-android {
  color: #fff;
}
.footer__top .footer-right-socialm {
  padding: 0;
}
.footer__top .footer-right-socialm .widgets {
  display: flex;
  justify-content: flex-start;
  gap: 0.6rem;
}
.footer__top .footer-right-socialm .widgets a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  text-align: center;
  height: 2rem;
  width: 2rem;
  line-height: 2.1rem;
}
.footer__top .footer-right-socialm .widgets a .ti-facebook,
.footer__top .footer-right-socialm .widgets a .ti-twitter-alt,
.footer__top .footer-right-socialm .widgets a .ti-pinterest,
.footer__top .footer-right-socialm .widgets a .ti-instagram {
  color: #000;
}
.footer__top .footer-right-socialm .widgets a:hover {
  background-color: #ff5353;
  transition: all 300ms ease-in-out;
}
.footer__top .footer-right-socialm .widgets a:hover .ti-facebook,
.footer__top .footer-right-socialm .widgets a:hover .ti-twitter-alt,
.footer__top .footer-right-socialm .widgets a:hover .ti-pinterest,
.footer__top .footer-right-socialm .widgets a:hover .ti-instagram {
  color: #fff;
}
.footer__bottom {
  font-size: 0.9rem;
  color: #888;
  text-align: center;
  padding: 0;
}
.footer__bottom a {
  text-decoration: none;
  color: #ff5353;
}

@media screen and (max-width: 1400px) {
  .header__top-left {
    margin-left: 5rem;
  }
  .header__top-right {
    margin-right: 5rem;
  }
  .navbar__logo {
    margin-left: 5.5rem;
  }
  .navbar__icons {
    margin-right: 5.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .header__top-left {
    margin-left: 3rem;
  }
  .header__top-right {
    margin-right: 3rem;
  }
  .navbar__logo {
    margin-left: 3.5rem;
  }
  .navbar__icons {
    margin-right: 3.5rem;
  }
  .products__items {
    gap: 2rem;
  }
  .products__items .item {
    max-width: 18rem;
  }
  .products__items .item .action-links {
    top: 60%;
  }
  .products__items .item:hover .action-links {
    top: 50%;
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    height: 4rem;
  }
  .navbar__menu {
    display: none;
  }
  .navbar #mobile-menu {
    display: flex;
    color: #000;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: 0.5rem;
    position: relative;
    top: 1.35rem;
    text-decoration: none;
  }
  .banner__text {
    max-width: 20rem;
  }
  .banner__text h1 {
    font-size: 2.5rem;
  }
  .products__items .item {
    max-width: 13rem;
  }
  .products__items .item .action-links {
    top: 50%;
  }
  .products__items .item:hover .action-links {
    top: 40%;
  }
  .banner2__text {
    max-width: 22rem;
    margin-right: 0;
  }
  .banner2__text span {
    font-size: 2.5rem;
  }
  .banner2__text h1 {
    margin-bottom: 2rem;
  }
  .footer__top {
    display: grid;
    grid-template-columns: 8rem 8rem 9rem 10rem;
    grid-template-rows: auto;
    gap: 3rem;
  }
  .footer__top .footer-right {
    display: flex;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .navbar__logo {
    margin-left: 7rem;
  }
  .navbar__icons {
    margin-right: 7rem;
  }
  .banner {
    flex-direction: column-reverse;
    background-position: center;
  }
  .banner__text {
    max-width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .banner__image {
    width: 100%;
  }
  .products__items .item {
    max-width: 9.5rem;
  }
  .products__items .item .action-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    justify-content: center;
    top: 20%;
  }
  .products__items .item:hover .action-links {
    top: 10%;
  }
  .banner2 {
    flex-direction: column;
  }
  .banner2__text {
    max-width: 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .banner2__image {
    width: 100%;
  }
  .footer__top {
    grid-template-columns: 12rem 17rem;
    grid-template-rows: auto;
    text-align: left;
  }
  .footer__top .footer-right {
    height: auto;
  }
}
@media screen and (max-width: 575px) {
  .navbar__logo {
    margin-left: 1rem;
  }
  .navbar__icons {
    margin-right: 1rem;
  }
  .products__items .item {
    max-width: 100%;
  }
  .products__items .item .action-links {
    width: 100%;
    top: 60%;
  }
  .products__items .item:hover .action-links {
    top: 60%;
  }
  .footer__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer__top .footer-right-socialm {
    padding-top: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */
