@keyframes moveAnimation {
    from {
              transform: translateY(60%);
    }
    to {
              transform: translateY(0);
    }
  }

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 16px;
}

.header {
    display: flex;
    background-color: #fef7f6;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 300;
    padding: 0.6rem 0;
    width: 100%;
    height: 2rem;

    &__top-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 20rem;
        width: 100%;
    }

    &__top-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20rem;
        width: 100%;
    }

    p {
        padding: 0.6rem;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
    height: 6rem;

    &__logo {
        display: flex;
        align-items: center;
        margin-left: 20.5rem;
    }

    &__menu {
        display: flex;
        margin: 0;
        padding: 0;
        
        li {
            position: relative;

            .submenu {
                background-color: #fff;
                position: absolute;
                top: 100%;
                visibility: hidden;
                opacity: 0;
                left: 0;
                width: 14rem;
                height: auto;
                padding: 0;
                transition: all 300ms ease-in-out;
                
                 .submenu-li  {
                    padding: 0;
                    margin: 0;
        
                    a {
                        padding: 1rem;
                        width: 100%;
                        height: 100%;
                    }

                    a:hover {
                        background-color: #f5f5f5;
                    }
                }
            }
        }

        li:hover {
            .submenu {
                visibility: visible;
                opacity:1;
            }
        }

        .ti-angle-down {
            width: 0.7rem;
            padding: 0.3rem;
        }

        li {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            padding: 0.7rem;

            a {
                color: #000;
                font-weight: 500;
                text-decoration: none;
            }
        }

        a:hover {
            color: #ff5353;
            transition: all 300ms ease-in-out;
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        margin-right: 20.5rem;
    
        a {
            position: relative;
            color: #000;
            font-size: 1.1rem;
            text-decoration: none;
            padding: 0.7rem;

            .counter {
                position: absolute;
                border-style: solid;
                border-color: #ff5353;
                color: #fff;
                background-color: #ff5353;
                height: 0.6rem;
                width: 0.6rem;
                border-radius: 50%;
                font-size: 0.5rem;
                line-height: 0.6rem;
                text-align: center;
                top: 0;
                right: 0;
            }
        }
    
        a:hover {
            color: #ff5353;
            transition: all 300ms ease-in-out;
        }
    }
}

.banner {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    background-size: cover;
    overflow: auto;
    height: 44rem;

    &__text {
        text-align: center;
        max-width: 29rem;

        span {
            color: #565656;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            font-size: 0.9rem;
            font-weight: 500;
        }

        h1 {
            font-size: 3.6rem;
            font-weight: 500;
            margin-top: 0.5rem;
            margin-bottom: 3.5rem;
        }

        a {
            background-color: #ff5353;
            border-radius: 0.2rem;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 0.85rem;
            font-weight: 500;
            line-height: 0.8;
            padding: 1.1rem 3rem 1.1rem 3rem;
        }

        a:hover {
            background-color: #fff;
            color: #0056b3;
            transition: all 300ms ease-in-out;
        }
    }

    &__image {
        display: flex;
        justify-content: flex-end;
        width: auto;
        height: 100%;

        img {
            width: auto;
            height: 100%;
        }
    }
}

.products {
    background-color: #fff;

    h1 {
        font-size: 2.3rem;
        text-align: center;
        text-transform: uppercase;
        margin-top: 3rem;
        margin-bottom: 5.5rem;
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            margin-bottom: 2rem;

            .action-links {
                text-align: center;
                position: absolute;
                visibility: hidden;
                width: 100%;
                top: 60%;
                opacity: 0;
                transition: all 300ms ease;

                a {
                    font-size: 0.9rem;
                    text-decoration: none;
                    transition: all 300ms ease;

                    .ti-eye,
                    .ti-heart,
                    .ti-shopping-cart {
                        display: inline-block;
                        background-color: #fff;
                        border: #fff solid;
                        border-radius: 50%;
                        color: #000;
                        line-height: 2.8rem;
                        height: 2.8rem;
                        width: 2.8rem;
                    }
                }
            }

            p {
                text-align: center;
                margin-bottom: 0;
                margin-top: 1.5rem;

                a {
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: #888;
                    text-transform: capitalize;
                    text-decoration: none;
                    margin-bottom: 0;
                }

                a:hover {
                    color: #ff5353;
                    transition: all 300ms ease-in-out;
                }
            }

            .stars {
                text-align: center;
        
                a {
                    text-decoration: none;

                    .ti-star {
                        font-size: 0.8rem;
                        color: #ff5353;
                    }
                }
            }

            .price {
                text-align: center;
                font-size: 1.1rem;
                font-weight: 500;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }
        }

        .item:hover {
            .action-links {
                opacity: 1;
                .ti-eye {animation: moveAnimation 200ms;}
                .ti-heart {animation: moveAnimation 400ms;}
                .ti-shopping-cart {animation: moveAnimation 600ms;}
        
                a {
                    visibility: visible;      
                }

                a:hover {
                        .ti-eye,
                        .ti-heart,
                        .ti-shopping-cart {
                            background-color: #ff5353;
                            border: #ff5353 solid;
                            color: #fff; 
                            transition: all 300ms ease;
                            
                        }
                }
            }
        }
    }
}
.banner2 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    background-size: cover;
    height: 38rem;
    overflow: auto;

    &__text {
        text-align: center;
        text-transform: uppercase;
        max-width: 29rem;
        margin-right: 5rem;

        span {
            font-family: "Dancing Script", cursive;
            font-weight: 700;
            font-size: 3.6rem;
            margin-bottom: 4.5rem;
        }

        h1 {
            font-weight: 300;
            margin-bottom: 4rem;
        }

        a {
            background-color: #ff5353;
            border-radius: 0.2rem;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 0.85rem;
            font-weight: 500;
            line-height: 0.8;
            padding: 1.1rem 3rem 1.1rem 3rem;
        }

        a:hover {
            background-color: #fff;
            color: #0056b3;
            transition: all 300ms ease-in-out;
        }
    }

    &__image {
        display: flex;
        justify-content: flex-end;
        width: auto;
        height: 100%;

        img {
            width: auto;
            height: 100%;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e9e2d8;
    height: 28rem;
    overflow: auto;
    margin-top: 3rem;

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left: 16rem;
        margin-right: 16rem;
        border-bottom: 0.1rem solid #d6d8d9;
        padding-bottom: 5rem;
        padding-top: 3rem;

        p {
            font-size: 1rem;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            a {
                font-size: 0.9rem;
                color: #888;
                text-decoration: none;
                line-height: 1.9rem;
                list-style: none;
                text-align: left;
            }
        }

        .column-2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: fit-content;

            &__app {
                display: flex;
                flex-direction: column;

                .app-buttons {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 0.5rem;
                    border-bottom: 0.1rem solid #d6d8d9;
                    padding-bottom: 2rem;

                    .android,
                    .apple {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 0.2rem;
                        border-radius: 0.3rem;
                        background-color: #fff;
                        color: #000;
                        text-decoration: none;
                        padding: 0.2rem 0.2rem 0.2rem 0.2rem;
                        height: 2.5rem;
                        width: 7.5rem;

                        .ti-android {
                            color: #ff5353;
                            font-size: 1.3rem;
                            margin-right: 0.3rem;
                            left: 0.3px;
                            top: 50%;
                        }

                        .ti-apple {
                            color: #fff;
                            font-size: 1.3rem;
                            margin-right: 0.3rem;
                            left: 0.3rem;
                            top: 50%;

                        }

                        p {
                            display: flex;
                            flex-direction: column;
                            font-size: 0.8rem;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-align: left;
                            padding-top: 1.3rem;

                            span {
                                font-size: 0.6rem;
                                font-weight: 400;
                            }
                        }
                    }

                    .apple {
                        background-color: #ff5353;
                        color: #fff;
                    }

                    .android:hover {
                        background-color: #ff5353;
                        transition: all 300ms ease-in-out;

                        p,
                        .ti-android {
                            color: #fff;
                        }
                    }
                }
            }

            &__sm {
                padding: 0;

                .sm-widgets {
                    display: flex;
                    justify-content: flex-start;
                    gap: 0.6rem;

                    a {
                        background-color: #fff;
                        color: #000;
                        text-decoration: none;
                        text-align: center;
                        height: 2rem;
                        width: 2rem;
                        line-height: 2.1rem;

                        .ti-facebook,
                        .ti-twitter-alt,
                        .ti-pinterest,
                        .ti-instagram {
                            color: #000;
                        }
                    }

                    a:hover {
                        background-color: #ff5353;
                        transition: all 300ms ease-in-out;

                        .ti-facebook,
                        .ti-twitter-alt,
                        .ti-pinterest,
                        .ti-instagram {
                            color: #fff;
                        }
                    }
                }

            }
        }
    }

    &__bottom {
        font-size: 0.9rem;
        color: #888;
        text-align: center;
        padding: 0;

        a {
            text-decoration: none;
            color: #ff5353;
        }
    }

}